In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('For_Predictive_Model.csv')

In [4]:
data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,day_week
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,5

In [5]:
data.drop('datetime',axis=1,inplace=True)

In [6]:
data.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,day_week
0,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,5
1,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,5
2,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,5
3,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,5
4,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,5

# Season, Holiday, Workingday, Weather are categorical variable. So, we convert them to dummy variable

In [10]:
data=pd.get_dummies(columns=['season','holiday','workingday','weather'],data=data,drop_first=True)

In [11]:
data.head()

,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,day_week,season_2,season_3,season_4,holiday_1,workingday_1,weather_2,weather_3,weather_4
0,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,5,0,0,0,0,0,0,0,0
1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,5,0,0,0,0,0,0,0,0
2,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,5,0,0,0,0,0,0,0,0
3,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,5,0,0,0,0,0,0,0,0
4,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,5,0,0,0,0,0,0,0,0

# Converting other quantative feature in the range of 0-1

In [12]:
quantative_cols=['temp','atemp','humidity','windspeed']

In [16]:
for column in quantative_cols:
    data[column]=data[column]/data[column].max()

In [17]:
data.head()

,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,day_week,season_2,season_3,season_4,holiday_1,workingday_1,weather_2,weather_3,weather_4
0,0.24,0.316687,0.81,0.0,3,13,16,2011,1,1,0,5,0,0,0,0,0,0,0,0
1,0.22,0.299967,0.80,0.0,8,32,40,2011,1,1,1,5,0,0,0,0,0,0,0,0
2,0.22,0.299967,0.80,0.0,5,27,32,2011,1,1,2,5,0,0,0,0,0,0,0,0
3,0.24,0.316687,0.75,0.0,3,10,13,2011,1,1,3,5,0,0,0,0,0,0,0,0
4,0.24,0.316687,0.75,0.0,0,1,1,2011,1,1,4,5,0,0,0,0,0,0,0,0

In [18]:
X=data.drop(['casual','registered','count'],axis=1)

In [22]:
Y=data['count']

In [20]:
from sklearn.model_selection import train_test_split

In [23]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [24]:
from sklearn.ensemble import RandomForestRegressor

In [25]:
model=RandomForestRegressor()

In [26]:
model.fit(X_train,Y_train)

RandomForestRegressor()

In [27]:
model.score(X_test,Y_test)

0.9529859353691886

In [28]:
prediction=model.predict(X_test)

In [29]:
prediction

array([139.85,  25.34, 162.81, ..., 468.04,   7.6 , 160.17])

In [41]:
prediction=prediction.astype('int32')

In [43]:
from sklearn.metrics import mean_squared_error

In [44]:
prediction

array([139,  25, 162, ..., 468,   7, 160])

In [45]:
mean_squared_error(Y_test,prediction)

1550.8034894398531

In [46]:
import joblib

In [48]:
joblib.dump(model,'model.sav')

['model.sav']